body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
nav,
h1,
button {
  font-family: "Montserrat", sans-serif;
}
.fa-anchor,
.fa-coffee {
  font-size: 200px;
}
img {
  width: 60%;
  position: absolute;
  margin-left: -30rem;
  margin-top: -30rem;
}
top-banner {
  height: auto;
  width: 100%;
}
#banner {
  width: 100%;
}
.intro {
  height: 36rem;
}
@media ( max-width: 500px ) {
  .intro {
    justify-content: center;
  }
}
.mid {
  justify-content: center;
  display: block;
  text-align: justify;
}
mid-p {
  margin: 1rem;
  text-align: justify;
}
.box {
  padding: 0 50px;
}
.home .container home {
  border-top: 2px dashed #C0C0C0;
}
.heading {
  color: white;
  margin-left: 45rem;
  margin-top: -5rem;
}
.jumbotron {
  margin-left: 15rem;
  width: 60%;
}
.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.btn {
  justify-content: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #17A2B8;
  color: #fafafa;
  width: 400px;
  height: 3rem;
}
@media mobile {
  .btn {
    width: 100%;
  }
}
.signup {
  background-color: #e84c3d;
  color: white;
  justify-content: center;
  content-align: center;
  display: flex;
}
@media ( max-width: 500px ) {
  .signup {
    width: 100%;
  }
}
.login {
  background-color: #1A1E23;
  color: #e84c3d;
  justify-content: center;
  content-align: center;
  display: flex;
}
@media ( max-width: 500px ) {
  .login {
    width: 100%;
  }
}
.container {
  width: 100%;
  margin: auto;
}
.top {
  justify-content: center;
}
header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media ( max-width: 500px ) {
  header header {
    justify-content: center;
  }
}
header nav {
  margin-top: 40px;
  width: 768px;
  padding: 0 30px;
  justify-content: space-between;
  display: flex;
}
@media ( max-width: 500px ) {
  header nav {
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid gray;
  }
}
header nav a {
  text-decoration: none;
  color: #b0b0b0;
}
@media ( max-width: 500px ) {
  header nav a {
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid gray;
    background-color: #1A1E23;
    color: #fafafa;
  }
}
header nav a:hover {
  text-decoration: underline;
  color: #e84c3d;
}
@media ( max-width: 500px ) {
  header nav a:hover {
    color: #e84c3d;
  }
}
@media ( max-width: 500px ) {
  header nav a:first-child {
    border-top: 1px solid gray;
  }
}
header .logo {
  order: -1;
  display: block;
  margin: 30px auto 0;
}
@media ( max-width: 500px ) {
  header .logo header .logo {
    width: 100%;
    display: block;
    text-align: center;
    margin: 20px 0;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.4rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #1A1E23;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background-color: #e84c3d;
}
.footer p {
  justify-content: center;
  text-align: center;
  color: #1A1E23;
  font-size: 1.6rem;
  padding: 20px;
}
