body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
nav,
h1,
button {
  font-family: "Montserrat", sans-serif;
}
.fa-anchor,
.fa-coffee {
  font-size: 200px;
}
top-banner {
  height: auto;
  width: 100%;
}
#banner {
  width: 100%;
}
.sauti-logo {
  width: 100%;
  margin: 0 0 35px 0;
}
@media ( max-width: 500px ) {
  .sauti-logo {
    width: 100%;
    height: auto;
    max-height: 150px;
    margin: 0 0 80px 0;
  }
}
@media ( max-width: 500px ) {
  .intro {
    justify-content: center;
  }
}
.mid {
  justify-content: center;
  display: block;
  text-align: justify;
}
mid-p {
  margin: 1rem;
  text-align: justify;
}
.box {
  padding: 0 50px;
}
.home .container home {
  border-top: 2px dashed #C0C0C0;
}
.heading {
  color: white;
  margin-left: 45rem;
  margin-top: -5rem;
}
.mid-intro {
  margin-left: 15rem;
  width: 60%;
}
.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.tab {
  width: 70%;
  margin: 45px auto;
  border: 1px solid #e84c3d;
  box-shadow: 1px 1px 5px #e84c3d;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10rem;
}
.tab .box {
  padding: 40px;
}
.tab .box .box-title {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: bold;
}
.content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media ( max-width: 500px ) {
  .content-destination {
    width: 100%;
  }
}
.content-destination img {
  border-radius: 10px;
}
.btn {
  justify-content: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #17A2B8;
  color: #fafafa;
  width: 400px;
  height: 3rem;
}
@media mobile {
  .btn {
    width: 100%;
  }
}
.signup {
  background-color: #e84c3d;
  color: white;
  justify-content: center;
  content-align: center;
  display: flex;
}
@media ( max-width: 500px ) {
  .signup {
    width: 100%;
  }
}
.login {
  background-color: #1A1E23;
  color: #e84c3d;
  justify-content: center;
  content-align: center;
  display: flex;
}
@media ( max-width: 500px ) {
  .login {
    width: 100%;
  }
}
#btn1 {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  background-color: #e84c3d;
  color: #fafafa;
  font-size: 1.8rem;
  border: 10px solid #1A1E23;
  text-decoration: none;
}
@media ( max-width: 500px ) {
  #btn1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #1A1E23;
  }
}
#btn1 #btn a {
  text-decoration: none;
}
.container {
  width: 100%;
  background-color: #1A1E23;
}
.top-img {
  display: block;
  margin: 30px auto;
  width: 80%;
}
.logo-img {
  margin: 5px auto;
  height: auto;
  width: 90%;
  background-color: #1A1E23;
  order: 1;
}
.top {
  justify-content: center;
}
header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media ( max-width: 500px ) {
  header header {
    justify-content: center;
  }
}
header nav {
  width: 768px;
  padding: 0 30px;
  justify-content: space-between;
  display: flex;
}
@media ( max-width: 500px ) {
  header nav {
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid gray;
  }
}
header nav a {
  text-decoration: none;
  color: #b0b0b0;
}
@media ( max-width: 500px ) {
  header nav a {
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
    border-bottom: 1px solid gray;
    background-color: #1A1E23;
    color: #fafafa;
  }
}
header nav a:hover {
  text-decoration: underline;
  color: #e84c3d;
}
@media ( max-width: 500px ) {
  header nav a:hover {
    color: #e84c3d;
  }
}
@media ( max-width: 500px ) {
  header nav a:first-child {
    border-top: 1px solid gray;
  }
}
header .logo {
  order: -1;
  display: block;
  margin: 30px auto 0;
}
@media ( max-width: 500px ) {
  header .logo header .logo {
    width: 100%;
    display: block;
    text-align: center;
    margin: 20px 0;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  color: #fafafa;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 4rem;
  color: #e84c3d;
}
h2 {
  font-size: 2.4rem;
  padding-bottom: 10px;
  color: #e84c3d;
  text-align: center;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
  color: #e84c3d;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #1A1E23;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
}
#footer {
  width: 100%;
  background-color: #e84c3d;
}
#footer p {
  justify-content: center;
  text-align: center;
  color: #1A1E23;
  font-size: 1.6rem;
  padding: 20px;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v23/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYA.ttf) format('truetype');
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(https://i.ibb.co/7YzXwvT/aaron-thomas-d-Pm-Cz-HQ7-Vc4-unsplash.jpg) no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}
.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.content h1 {
  font-family: 'Raleway', sans-serif;
  color: #D9910B;
  /* color: #020873; */
  text-shadow: 0 0 300px #1A1E23;
  font-size: 500%;
}
.btn {
  border-radius: 9px;
  font-family: 'Oswald', sans-serif;
  color: #020873;
  font-size: 135%;
  padding: 10px 20px;
  border: 3px solid #020873;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover {
  color: #D9910B;
  background-color: #1A1E23;
  border: white;
}
p {
  font-size: 160%;
  line-height: 210%;
  text-align: justify;
  margin: 3%;
  font-family: sans-serif;
}
@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 250%;
  }
  .btn {
    font-size: 110%;
    padding: 7px 15px;
  }
  p {
    font-size: 100%;
    line-height: 100%;
  }
}
