body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
nav,
h1,
button {
  font-family: "Montserrat", sans-serif;
}
.fa-anchor,
.fa-coffee {
  font-size: 200px;
}
img {
  width: 60%;
  position: absolute;
  margin-left: -30rem;
  margin-top: -30rem;
}
.box {
  padding: 0 50px;
}
.home .container home {
  border-top: 2px dashed #C0C0C0;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #212529;
}
@media ( max-width: 500px ) {
  .home .content-section {
    Flex-direction: column;
    Flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    width: 480px;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
  flex-wrap: wrap;
  padding-top: 10px;
  color: #212529;
}
@media ( max-width: 500px ) {
  .home .content-section .text-content {
    width: 85%;
    text-align: justify;
    flex-wrap: wrap;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
  flex-wrap: wrap;
}
@media ( max-width: 500px ) {
  .home .content-section .img-content {
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media ( max-width: 500px ) {
  .home .inverse-content {
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
  color: #212529;
}
@media ( max-width: 500px ) {
  .home .inverse-content .text-content {
    width: 85%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media ( max-width: 500px ) {
  .home .inverse-content .img-content {
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media ( max-width: 500px ) {
  .home .content-destination {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    flex-flow: column;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home .content-pick .destination {
  display: inline-block;
  width: 30%;
  margin-bottom: 30px;
}
@media ( max-width: 500px ) {
  .home .content-pick .destination {
    width: 100%;
    flex-direction: column;
  }
}
.btn {
  justify-content: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #17A2B8;
  color: #FFFFFF;
  width: 400px;
  height: 3rem;
}
.signup-btn {
  background-color: #e84c3d;
  color: white;
  justify-content: center;
  content-align: center;
  display: flex;
}
ul {
  margin-left: 50rem;
}
section {
  background-image: url("http://sautiafrica.org/wp-content/uploads/2018/03/MarketTraining1-e1520025521838.jpg");
  padding: 25rem;
  margin-top: -5rem;
}
.top {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1A1E23;
}
@media ( max-width: 500px ) {
  .top {
    flex-direction: column;
  }
}
.top h1 {
  justify-content: flex-start;
  width: 50%;
}
@media ( max-width: 500px ) {
  .top h1 {
    margin-bottom: 15px;
    margin-right: -30px;
  }
}
.top .logo {
  color: #fafafa;
}
.top .header {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
@media ( max-width: 500px ) {
  .top .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
.top .header a {
  color: #fafafa;
  text-decoration: none;
  font-size: 1.5rem;
  word-spacing: 5px;
  padding: 0 5px;
}
.top .header a:hover {
  text-decoration: underline;
  color: #e84c3d;
}
.banner {
  height: 500px;
  width: 100%;
  display: flex;
  background-image: url("http://sautiafrica.org/wp-content/uploads/2018/03/MarketTraining1-e1520025521838.jpg");
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.4rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #212529;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
