.footer {
    width: 100%;
    border-top: 2px dashed silver;
    background-color: @highlight;
    
    p {
      justify-content: center;
      text-align: center;
      color: @shark;
      font-size: 1.6rem;
      padding: 20px;
    }
  }