footer {
    height: 125px;
    background-color: @shark;
    // border: 5px solid red;
    color: @highlight;
}

.footer {
    width: 100%;
    border-top: 2px dashed silver;
    background-color: @shark;
    color: @highlight;
    
    p {
      justify-content: center;
      text-align: center;
    //   color: @shark;
      color: @highlight;
      font-size: 1.6rem;
      padding: 20px;
    }
  }

  .footer-text {
    color: @highlight;
  }