@import '../less/main.less';
@import '../less/nav.less';
@import '../less/global.less';
@import '../less/footer.less';
@import '../less/variables.less';
@import '../less/mixins.less';
@import '../less/directory.less';
@import '../less/faq.less';
@import '../less/about.less';

.btn {
    width: 100%;
    height: 100%;
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: rgb(7, 9, 121);
    }
    100% {
      background-color: rgb(230, 138, 18);
    }
  }
  