// Mixins in here

.center (){
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-center(){ 
width: 100%;
display: block;
text-align: center;
}
//custom-layout

.custom-layout(@j, @a) {
    display: flex;
    justify-content: @j;
    align-items: @a;
}

.custom-button(){
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-nav(){
    width: 100%;
    padding: 0 30px;
    justify-content: space-between;
    display: flex;
}

//Parametric Animation 

.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}

